<div class="center hero-unit">
  <table class="table" style="margin-top: 10%;">
    <tbody>
    <th>Image</th>
    <th><%= sort_link(@q, :email, 'Email', default_order: :desc) %></th>
    <th><%= sort_link(@q, :created_at, 'Date', default_order: :desc) %></th>
    <th>Is Admin</th>
    <th>Status</th>
    <% if user_signed_in? && current_user.role? %>
        <th>Choose image</th>
        <th>Delete</th>
        <th>Bann</th>
    <% end %>
    <% @users_list.each do |element| %>
        <tr>
          <td>
            <a href=<%= element.avatar.url%> class="fancybox">
                <%= image_tag element.avatar.url :thumb %>
            </a>
          </td>
          <td><%= element[:email] %></td>
          <td><%= element[:created_at] %></td>
          <td><%= element[:role] %></td>
          <td><%= element[:status] %></td>
          <% if user_signed_in? && current_user.role? %>
              <td><%= link_to 'Delete',  delete_user_path(element[:id]) %></td>

              <td>
                <%= form_for element, :url => avatar_user_path(element[:id]), :html => { :multipart => true } do |form| %>
                    <%= form.file_field :avatar %>

                    <%= form.submit %>
                <% end %>
              </td>
              <td><%= link_to 'Bann',  bann_user_path(element[:id]) %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @users_list %>
</div>