<h1>All users list</h1>

<div class="center hero-unit">
  <table class="table" style="margin-top: 10%;">
    <tbody>
    <th>Name</th>
    <th>Is Admin</th>
    <th>Date</th>
    <tr>
      <td><%= @user[:name] %></td>
      <td><%= @user[:role] %></td>
      <td><%= @user[:created_at] %></td>
    </tr>
    </tbody>
  </table>
</div>
