<%= form_for(@gift) do |f| %>
    <% if @gift.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@gift.errors.count, "error") %> prohibited this gift from being saved:</h2>

          <ul>
            <% @gift.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :visible %><br>
      <%= f.text_field :visible %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
