<p id="notice"><%= notice %></p>

<h1>Listing Gifts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Visible</th>
      <th>Details</th>
      <th>Edit This gift</th>
      <th>Destroy this gift</th>
    </tr>
  </thead>

  <tbody>
    <% @gifts.each do |gift| %>
      <tr>
        <td><%= gift.name %></td>
        <td><%= gift.visible %></td>
        <td><%= link_to 'Show', gift %></td>
        <td><%= link_to 'Edit', '#' %></td>
        <td><%= link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gift', new_gift_path %>
