<%= form_for(@user_gift) do |f| %>
  <% if @user_gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_gift.errors.count, "error") %> prohibited this user_gift from being saved:</h2>

      <ul>
      <% @user_gift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :gift_id %><br>
    <%= f.number_field :gift_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
