<p id="notice"><%= notice %></p>

<h1>Listing User Gifts</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Gift</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_gifts.each do |user_gift| %>
      <tr>
        <td><%= user_gift.id %></td>
        <td><%= user_gift.name %></td>
        <td><%= link_to 'Show', user_gift %></td>
        <td><%= link_to 'Destroy', user_gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User gift', new_user_gift_path %>
