<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_gift.user_id %>
</p>

<p>
  <strong>Gift:</strong>
  <%= @user_gift.gift_id %>
</p>

<%= link_to 'Edit', edit_user_gift_path(@user_gift) %> |
<%= link_to 'Back', user_gifts_path %>
